<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/');
} %>

<div class="box">
<%#- messages() %>
<%- messages() %>

<%- individualMessage %>
</div>

<h3>This is where the options to archive, delete and reply will be.</h3>