<nav class="nav">
    <ul>
        <li class="navList"><a href="">Home</a></li>
        <li class="navList"><a href="">Custom</a></li>
        <li class="navList"><a href="">Sedan</a></li>
        <li class="navList"><a href="">SUV</a></li>
        <li class="navList"><a href="">Truck</a></li>
    </ul>
</nav>