<main>

<h1>Welcome to CSE Motors!</h1>
<img id="grayCar" alt="car" src="/images/vehicles/delorean.jpg">
<p id="ad"><b>DMC Delorean</b><br>3 cup holders<br>Superman doors<br>Fuzzy dice!</p>
<a href=""><img id="ownToday" alt="button" src="/images/site/own_today.png" ></a>

<div class="Dupgrades">
<h2>Delorean Upgrades</h2>

<div class="grid">
<section class="one">
<img class="upgrades" alt="fluxcap" src="/images/upgrades/flux-cap.png">
<li><a href="">Flux Capacitor</a></li>
</section>

<section class="two">
<img class="upgrades" alt="flamedecals" src="/images/upgrades/flame.jpg">
<li><a href="">Flame Decals</a></li>
</section>

<section class="three">
<img class="upgrades" alt="stickers" src="/images/upgrades/bumper_sticker.jpg">
<li><a href="">Bumper Stickers</a></li>
</section>

<section class="four">
<img class="upgrades" alt="hubcaps" src="/images/upgrades/hub-cap.jpg">
<li><a href="">Hub Caps</a></li>
</section>
</div>
</div>

<div class="Dreviews">
<h2>DMC Delorean Reviews</h2>
<li>"So fast it's almost like travelling in time." (4/5)</li>
<li>"Coolest ride on the road." (4/5)</li>
<li>"I'm feeling McFly!" (5/5)</li>
<li>"The most futuristic ride of our day." (4.5/5)</li>
<li>"80's livin and I love it!" (5/5)</li>
</div>