<!-- Content Heading -->
<% if (title) { %>
    <h1 class="test"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Message -->
<%# messages() %>

<!-- Inventory Items Display -->
<div class="test"><%- grid %> </div>

