<!-- Content Heading -->
<% if (title) { %>
    <h1 class="test"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Messages -->
<%# messages() %>
<%- messages() %>

<div class="box">
<!-- Link to Add Classification -->
<a href= "./add-classification">Add Classification</a><br><br>

<!-- Link to Add Inventory -->
<a href="./add-inventory">Add to Inventory</a>
</div>